@use "../../styles/partials/typography" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;

.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #5c667e;
  border-top: 1px solid #e9ecef;
  position: relative;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .footer {
    font-size: 12px;
    padding: 15px;
  }
}

